{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="homepage owl-carousel">
            {{ range sort .Site.Data.carousel "weight" }}
            <div class="item">
                <img src="{{ .image }}" class="home-carousel-img">
            </div>
            {{ end }}
        </div>
        <!-- /.project owl-slider -->
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
