{{ $lang := .Site.Language.Lang }}
<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">
            <img src="{{ .Page.Params.img }}" class="img-responsive">
        </div>
        <div class="col-md-4 hidden-md">&nbsp;</div>
        <div class="col-md-8">
            <section>

                <div class="lead text-justify"><p>{{ .Content }}</p></div>

                {{ if isset .Site.Params "email" }}

                <div class="heading">
                  <h3>{{ .Page.Params.contactForm }}</h3>
                </div>

                <div id="contact-message"></div>

                <form class="contact-form" method="post" action="https://formspree.io/{{ .Site.Params.email }}">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="name">{{ .Page.Params.contactName }}</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">{{ .Page.Params.contactMail }}</label>
                                <input type="text" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">{{ .Page.Params.contactMessage }}</label>
                                <textarea id="message" class="form-control" name="message" required></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                          <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>{{ .Page.Params.contactSend }}</button>

                        </div>
                    </div>
                    <!-- /.row -->
                </form>

                {{ end }}

            </section>

        </div>

            {{ $facebook := .Site.Params.facebook }}
            {{ $instagram := .Site.Params.instagram }}
            {{ $line_link := .Site.Params.line_link }}
            {{ $line := .Site.Params.line }}
            {{ range $index, $element := sort .Site.Data.locations "weight" }}
           <div class="col-md-4">
              <div class="heading">
                <h4>{{ $element.title }}</h4>
              </div>
              <div class="lead">
                {{ index $element (printf "%s_description" $lang) | safeHTML }}
              </div>
              <div class="center-block">
                  <ul class="list-style-none">
                      <li>
                          <span><a href="{{ $facebook }}"><img src="/img/FB-f-Logo__blue_29.png"></a></span>
                          <span>&nbsp;</span>
                          <span><a href="{{ $instagram }}"><img src="/img/glyph-logo_May2016_29.png"></a></span>
                          <span>&nbsp;</span>
                          <span><a href="{{ $line_link }}"><img src="/img/LINE_Icon_29.png"></a></span>
                          <span>{{ $line }}</span>
                        </li>
                    </ul>
              </div>
            </div>
        {{ end }}
    </div>
    <!-- /.row -->
</div>

{{ partial "map.html" . }}
