<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div id="all">
        <header>
        {{ partial "nav.html" . }}
        </header>
        {{ partial "breadcrumbs.html" . }}
        <div id="content">
            <div class="container">
                <div class="row">
                  <div class="col-md-12">
                      <div class="lead text-justify"><p>{{ .Content }}</p></div>
                  </div>
                  <div class="col-xs-6 col-md-6 text-center">
                    <div class="image-link-container">
                        <img src="/img/food.JPG" alt="" class="image-link">
                        <div class="middle">
                            <a href="food" class="text">{{ .Params.food }}</a>
                        </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-6 text-center">
                    <div class="image-link-container">
                        <img src="/img/drink.JPG" alt="" class="image-link">
                        <div class="middle">
                            <a href="drink" class="text">{{ .Params.drink }}</a>
                        </div>
                    </div>
                  </div>
                    <!-- <div class="col-md-12">
                        <div>
                          {{ range sort .Site.Data.menus "weight" }}
                            {{ .id }}
                          {{ end }}
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
